cffi==1.14.3
asn1crypto==1.4.0
argcomplete==1.12.1
pycparser==2.20
cryptography==3.2.1
idna==2.10
keyrings.alt==4.0.1
keyring==21.4.0
pycrypto==2.6.1
pysqlcipher3==1.0.3
six==1.15.0
SecretStorage==3.1.2
