cffi==1.13.2
asn1crypto==1.2.0
argcomplete==1.10.3
pycparser==2.19
cryptography==2.8
idna==2.8
keyrings.alt==3.4.0
keyring==19.3.0
pycrypto==2.6.1
pysqlcipher3==1.0.3
six==1.13.0
SecretStorage==3.1.1
